#userContainer, #quizContainer,
#testimonialContainer, #promotionContainer,
#createQuizContainer, #createQuizUpdateButton,
#createTestimonialContainer, #withdrawalContainer,
#rewardContainer, #createPromotionContainer,
#questionsContainer, #createQuestionContainer,
#createQuestionUpdateButton, #createQuizQuestionsRandom,
#distributionContainer, #taxationContainer,
#myAccountRemoveProfileImageButton, #quizMasterContainer,
#pendingQuestionContainer, #archivedQuizzesContainer {
  display: none;
}

.databaseTable {
  text-align: center;
     box-shadow: 0 0 20px 0px rgba(0,0,0,.35);
  border-spacing: 0px;
  background-color: white;
  margin: 0 1px; width:100%;
}


.databaseTable th {
  border: 1px #eee solid;
  background-color: #00b6f2;
  color: snow;
  padding: 8px;
  text-align: center;
}

.databaseTable td {
  border: 1px #eee solid;
  padding: 5px;
}

.rowfix {
  margin-left: 0;
  margin-right: 0;
}

body {
  padding-bottom: 10px;
}

.selectedAnswer {
  background-color: #ffffc0;
}

.promotionImages {
  width: 300px;
}

.testimonialImages {
  width: 100px;
}

.userProfileImages {
  width: 70px;
}

.tablePaginationContainer button {
  margin: 5px;
  padding: 3px 30px;
}

.tablePaginationContainer button.active {
  background-color: #939393;
}

#quizMasterQuizDate {
  margin-bottom: 20px;
}

#quizMasterQuizStartTimeTable {
  width: 100%;
}

#quizMasterQuizStartTimeTable td {
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 10px;
}

.selectedTimeSlot {
  background-color: rgb(156, 255, 176);
}

.usedTimeSlot {
  background-color: rgb(255, 193, 193);
}

#quizContainer {
  width: 100%;
}

.modal {
  top: 20px;
  bottom: 20px;
}

.modal-dialog {
  width: 60%;
  height: initial;
  margin: auto;
}

.modal-content {
  color: black;
}

.modal-body {
  padding: 15px;
}

#quizMasterPreviouslyScheduledQuizzes,
#quizMasterRejectedQuestions {
  width: 100%;
}

#userInfoModalQuiz,
#userInfoModalConversion,
#userInfoModalRedeem,
#userInfoModalTaxation,
#userInfoModalPurchase {
  margin-bottom: 20px;
  border: 1px solid black;
}

#userInfoModalQuiz table,
#userInfoModalConversion table,
#userInfoModalRedeem table,
#userInfoModalTaxation table,
#userInfoModalPurchase table {
  width: 100%;
}

#userInfoModalQuiz table td,
#userInfoModalConversion table td,
#userInfoModalRedeem table td,
#userInfoModalTaxation table td,
#userInfoModalPurchase table td,
#userInfoModalQuiz table th,
#userInfoModalConversion table th,
#userInfoModalRedeem table th,
#userInfoModalTaxation table th,
#userInfoModalPurchase table th {
  padding: .75rem;
}

#userInfoModalQuizTable,
#userInfoModalConversionTable,
#userInfoModalRedeemTable,
#userInfoModalPurchaseTable,
#userInfoModalTaxationTable {
  display: none;
}

#userInfoModalQuiz div:first-of-type,
#userInfoModalConversion div:first-of-type,
#userInfoModalRedeem div:first-of-type,
#userInfoModalTaxation div:first-of-type,
#userInfoModalPurchase div:first-of-type {
  font-size: 1.3em;
  padding: 10px;
  font-weight: 900;
}
