html {
	height: 100%;
}

body {
	//background-image: url("../images/bg1.jpg");
	height: 100%;
	color: #333;
}

#showIfLoggedIn {
	display: none;
}

#homeIcon, #quizzesIcon, #myAccountIcon, #faqIcon {
	width: 30px;
	margin-bottom: 10px;
}

.rowfix {
	margin: 0;
}

.mainContainer {
	width: 85%;
	height: 100%;
}

@media (max-width: 992px) {
	.mainContainer {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.mainContainer {
		width: 100%;
	}
}

#topHeaderRow {
	padding: 15px;
	background: url("../images/gray_sand.png");
	margin-bottom: 15px;
}

.navbar-nav {
	margin: 0;
	width: 100%;
	text-align: center;
}

.no-padding {
	padding: 0;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	font-size: 1.2em;
	margin-bottom: 0;
}

@media (max-width: 992px) {
	.navbar-default {
		font-size: 1em;
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: white;
	background-color: transparent;
}

#logo {
	max-height: 90px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
	background-color: #bbb;
}

.navbar-default .navbar-toggle:hover {
	background-color: #ddd;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #aaa;
}

.navbar-default .navbar-nav > li > a {
	color: lightgrey;
}

.hidden {
	display: none;
}

#myAccountMenuItem {
	display: none;
}

/* Dropdown Button */
.dropbtn {
	padding: 16px;
	background-color: transparent;
	border: none;
	color: lightgray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: lightgrey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: transparent;
}

/* ------------ Header Login Elements ------------ */
.headerLogin, .headerLoggedin {
	text-align: center;
	padding: 5px 2px;
}

.headerLoggedin {
	color: lightgrey;
}

.headerLoginButtons {
	padding-top: 7px;
}

@media (max-width: 992px) {
	.headerLogin:nth-of-type(3) {
		text-align: right;
		padding-right: 10px;
	}
	.headerLogin:nth-of-type(4) {
		text-align: left;
		padding-left: 10px;
	}
	.headerLogin {
		padding: 5px;
	}
}

#loginNotLoggedIn {
	display: none;
}

#loginLoggedIn {
	display: none;
	margin-right: 10px;
}

#loginLoggedIn .headerLoggedin {
	margin-bottom: 10px;
}

.accountInfoTitle {
	font-weight: bold;
	color: #ccac00;
}

.accountTitleValue {
	font-size: .9em;
}

#buyVIPPointsButton {
	max-width: 100%;
	padding: 8px;
	min-width: 85px;
}

#signoutLabel {
	font-weight: bold;
}

#freePointsTable {
	width: 100%;
}

#freePointsTable td {
	padding: 0 5px;
}

@media (max-width: 1200px) {
	#buyVIPPointsButton, #signoutLabel, .accountInfoTitle {
		font-size: .85em;
	}
	.accountInfoValue {
		font-size: .75em;
	}
}

#purchaseModal1,
#purchaseModal2 {
	position: absolute;
	left: 25%;
	top: 16%;
	height: 470px;
	width: 50%;
}

#purchaseModal1 .modal-content,
#purchaseModal2 .modal-content {
	color: black;
	text-align: center;
}

#purchaseModal1 .btn-default,
#purchaseModal2 .btn-default {
	background-color: transparent;
}

#purchaseModal1 .modal-body > div:nth-child(1),
#purchaseModal1 .modal-body > div:nth-child(2),
#purchaseModal2 .modal-body > div:nth-child(1) {
	font-weight: bold;
	font-size: 1.3em;
}

#purchaseModal1 .modal-body > div:nth-child(2)  {
	margin-bottom: 2em;
}

#purchaseModal1 .modal-body > div:nth-child(2) input  {
	margin: 0 0 0 10px;
}

#purchaseModal1 .modal-body > div:nth-child(3) {
	margin-bottom: 1.3em;
}

#purchaseModal1 .modal-body > div:nth-child(3) a {
	text-decoration: underline;
	font-weight: bold;
	color: rgb(88, 88, 88);
}

#purchaseModal1 .modal-body > div:nth-child(4) button  {
	background-color: rgb(68, 182, 81);
	color: white;
	border: 0;
	font-weight: bold;
	font-size: 1.4em;
}

#purchaseModal1 .modal-header,
#purchaseModal2 .modal-header,
#purchaseModal2 .modal-footer {
	border: 0;
}

#purchaseModal1 .modal-header .close,
#purchaseModal2 .modal-header .close {
	color: black !important;
}

#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
	padding: 10px;
	border: 1px solid lightgrey;
	margin-bottom: 20px;
}

#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button {
	padding: 10px;
	border: 0;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}

#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button:nth-child(1) {
	background-color: rgb(68, 182, 81);
	width: 50%;
}

#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button:nth-child(2) {
	background-color: rgb(68, 182, 81);
	width: 30%;
}

.PG {
	background-color: rgb(103, 238, 161);
	color: black;
	padding: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

.payActive {
	background-color: red;
	color: white;
}

.purchaseModalFooter {
	height: 80px;
}

@media (max-width: 1200px) {
	#purchaseModal1,
	#purchaseModal2 {
		left: 16%;
		width: 68%;
	}
}

@media (max-width: 992px) {
	#purchaseModal1,
	#purchaseModal2 {
		left: 12%;
		width: 76%;
	}
}

@media (max-width: 768px) {
	#purchaseModal1,
	#purchaseModal2 {
		left: 0%;
		width: 100%;
	}

	.purchaseModalFooter {
		height: 60px;
	}

	#purchaseModal1 .modal-body,
	#purchaseModal2 .modal-body {
		padding: 20px;
	}

	#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button {
		font-size: 1em;
	}

	#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button:nth-child(1) {
		width: 53%;
	}

	#purchaseModal2 .modal-body > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > button:nth-child(2) {
		width: 40%;
	}
}

@media (max-width: 767px) {
	.quizDropDown > div {
		color: white;
	}

	.navbar-nav .open .dropdown-menu {
		height: 50px;
	}
}
