#quizMasterModal, #quizMasterButtons {
    display: none;
}

.modal {
    top: 20px;
    bottom: 20px;
}

.modal-dialog {
    width: 60%;
    height: initial;
    margin: auto;
}

.modal-content {
    color: black;
}

.modal-body {
    padding: 15px;
}

.btn-default:not(.dropdown-toggle) {
    background-color: #FFF;
}

#sideNav {
  margin-top: 30px;
}

#sideNav div {
  background-color: #00b6f2;
  border-color: #00b6f2;
  color: #ffffff;
  border-radius: 0;
  font-size: 20px !important;
  line-height: 1.33;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 5px
}

#sideNav div:hover {
  background-color: #00b6f2;
  border-color: #00b6f2;
}

.quizMasterButtons {
  background-color: #003a6e;
  border-color: #003a6e;
  color: white;
  padding: 10px;
  font-size: 2em;
  width: 100%;
  display: none;
  text-align: center;
}

.quizMasterButtons:hover {
  background-color: #00b6f2;
  border-color: #00b6f2;
}

.quizMasterButtons.left {
  border-radius: 15px 0 0 15px;
  margin: 10px 0 10px 10px;
}

.quizMasterButtons.right {
  border-radius: 0 15px 15px 0;
  margin: 10px 10px 10px 0;
}
