@import url(https://fonts.googleapis.com/css?family=Gafata);

body
{
	/*font-family: 'calibri', "helevetica", sans-serif;*/
        font-family: 'Gafata', 'calibri', "helevetica", sans-serif; background-color:#fff;
}


/* footer part */
.ft-part ul li a {
    color: #fff ;
}
.ft-part ul li {
    list-style-type: none;
	padding: 4px 0;
}
.ft-part ul {
    padding: 0px;
}
hr.sepa {
    margin: 0px;
    border-top: 1px solid #124C82;
}
.payment-part {
    text-align: center;
}
.payl {
    margin-bottom: 10px;
}
.loginpp li {
    list-style-type: none;
}
.menu-tops{
	margin: -20px 0px -17px 57px;
}
img.buy-real {    width: 116px;}
.navbar-toggle{margin-top:50px;}
#loginLoginButton{position:absolute;top:100px;right:38%;}
.login-btn{top:0px !important;}
div#myAccountProfile {
    margin-bottom: 30px;
}
.forgbx{
	width: 440px;
}
.gen-newp{
	width: 40% !important; font-size:16px !important; border-radius: 4px; padding: 4px 0px;
	    padding: 3px 0px !important;
}
.user-menuss li a {
    color: #000 !important;
}
.cont-field{
	border: 1px solid #fff; padding: 14px 28px 14px 28px;
}
.view-btnnn{
	right:100px;
}

h2.abttle {
    margin-top: 0px;
}
img.menu-icons {
    position: relative;
    top: -2px;
    left: -5px;
    width: 20px;
}

.cover-card #loginLoginButton{display:none;}

.cover-card:hover #loginLoginButton{display:block !important;}

.main-wrapper
{
	height: 540px;margin-left: auto;margin-right: auto;max-width: 100%;min-width: 100%;overflow: hidden;width: 100%;
}

.navbar-inner
{
	background: #fff;border: none;border-radius: 0px;box-shadow: none;filter: none;-moz-border-radius: 0px;-moz-box-shadow: none;-webkit-border-radius: 0px;
	-webkit-box-shadow: none;
}
.navbar .brand
{	max-height: 60px;}
.navbar .brand span{font-size:200%; padding-top:30px; padding-left:10px;display:inline-block; color:#2790B0; font-weight: bold;}

.navbar .nav
{
	display: block ;float: right!important;left: 0 ;margin: 0px 0px 0 0 ;position: relative!important;

}
.navbar .brand img
{
	max-height: 70px;width: auto;
}

.navbar .nav > li > a
{        border-radius: 1px;background: none;float: none;moz-transition: all 0.3s ease-in-out;ms-transition: all 0.3s ease-in-out;o-transition: all 0.3s ease-in-out;
	padding: 5px 26px;text-shadow: none;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
	background-color: none;box-shadow: none;-moz-box-shadow: none;text-decoration: none;-webkit-box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
{
	background: none;background-color: none;color: #2790B0;
}
.nav-reaction .dropdown-menu li
{
	width: 100%;
}
.nav-reaction .dropdown-menu li a img{
	margin-right: 14px;margin-bottom: 2px;
}
.nav-reaction .dropdown-menu.pull-right
{
	left: auto;right: 0;
}
.nav-reaction .dropdown-menu .divider
{
	background-color: #e5e5e5;border-bottom: 1px solid #ffffff;height: 1px;margin: -5px 0 5px;margin: 9px 1px;overflow: hidden;width: 100%;
}
.nav-reaction .dropdown-menu a
{
	border-bottom: 1px dotted #dedede;/*clear: both;*/color: #333;/*display: block;*/font-weight: normal;line-height: 2;padding-left: 0px;text-align: left;
	text-shadow: none;white-space: nowrap;
}
.nav-reaction .dropdown-menu li:hover, .nav-reaction .dropdown-menu li:focus
{
	color: #2790B0;text-decoration: none;
}
.nav-reaction .dropdown-menu .active > a, .nav-reaction .dropdown-menu .active > a:hover
{
	background-color: #ffffff;color: #232323;filter: none;text-decoration: none;
}
.nav-reaction .active
{
}
.nav-reaction .dropdown-menu li:last-child a
{
	border-bottom: none;
}
.navbar .nav > li.active > a
{
	box-sizing: border-box;color: #00b6f2;font-weight: bold;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}
.navbar .nav > li > a:hover
{
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}
.nav > li > a:hover
{
	text-decoration: none;
}
.nav-reaction .dropdown-menu
{
	background-clip: padding-box;background-color: white;border-bottom: 4px solid #1d86dc;border-bottom-width: 2px;border-radius: 0px;
	border-right-width: 2px;border-top: 4px solid #1d86dc;box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);color: #333;display: none;
	line-height: 2;list-style: none;margin: 0;min-width: 180px;-moz-background-clip: padding;-moz-border-radius: 0px;-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;padding: 3px 12px;position: absolute;right: 0px;top: 100%;
	-webkit-background-clip: padding-box;-webkit-border-radius: 0px;-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);z-index: 1010;left: 0px;
}
.dropdown-menu
{
	      background-clip: padding-box;
    background-color: white;
    border-bottom: 4px solid #00b6f2;
    border-bottom-width: 2px;
    border-radius: 0px;
    border-right-width: 2px;
    border-top: 4px solid #00b6f2;
    box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
    color: #333;
    display: none;
    float: left;
    line-height: 2;
    list-style: none;
    margin: 0;
    min-width: 103px;
    -moz-background-clip: padding;
    -moz-border-radius: 0px;
    -moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
    padding: 0;
    padding: 6px 0px;
    position: absolute;
    top: 90%;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
    z-index: 1000;
    width: 300px;
	left: -75px;
}

.dropdown-menu > div {
    padding: 0;
    text-align: center;
}

.navbar .nav > li > a
{
	text-shadow: none;
	text-transform: uppercase;

    color: #fff;
	font-size:16px;margin-left: 3px;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover, .navbar .nav >.sfHover > a
{

	color: #00b6f2;
	text-shadow: none;
}

.navbar .nav > li > .dropdown-menu a:hover
{
	background: none;
	color: #2790B0;
}
.navbar .nav > li > .dropdown-menu:before
{
	border-bottom: #2790B0;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-left: 5px solid transparent;
	border-left: none;
	border-right: 5px solid transparent;
	border-right: none;
	border-top: 5px solid #2790B0;
	content: '';
	display: inline-block;
	left: 85%;
	position: absolute;
	top: 0px;
}
.navbar .nav > li > .dropdown-menu:after
{
	border-bottom: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: '';
	display: inline-block;
	left: 85%;
	position: absolute;
	top: 0px;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before
{
	border-bottom: 0;
	border-top: 7px solid #ccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	bottom: -7px;
	top: auto;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after
{
	border-bottom: 0;
	border-top: 6px solid #ffffff;
	bottom: -6px;
	top: auto;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.sfHover a.dropdown-toggle .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{

	color: #00b6f2; font-weight: bold;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret
{
	border-bottom-color: #2790B0;
	border-top-color: #2790B0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret
{
	border-bottom-color: #00b6f2;
	border-top-color: #00b6f2;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right
{
	left: auto;
	right: 0;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before
{
	left: auto;
	right: 12px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after
{
	left: auto;
	right: 13px;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu
{
	border-radius: 6px 0 6px 6px;
	left: auto;
	margin-left: 0;
	margin-right: -1px;
	-moz-border-radius: 6px 0 6px 6px;
	right: 100%;
	-webkit-border-radius: 6px 0 6px 6px;
}
.dropdown-submenu > ul
{
	background: #fff;
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	float: left;
	left: 100%;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	top: 0%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1000;
}
.navbar .nav > li:last-child .dropdown-submenu > ul
{
	background: #fff;
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	float: left;
	left: -120%;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	top: 0%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1000;
}
.dropdown-submenu .sfHover > a:hover
{
	background: none;
	background-color: none;
	color: #2790B0;
}
.navbar .nav .sfHover > a li.dropdown .shHover > a
{
	background: none;
	background-color: none;
	color: #2790B0;
}
.dropdown-submenu:hover > a
{
	background: none;
	background-image: none;
	background-repeat: none;
	color: #2790B0;
	filter: none;
	text-decoration: none;
}
.dropdown-submenu > a:after
{
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: inline-block;
	position:absolute;
	height: 0;
	right: 15px;
	top: 8px;
	width: 10%;
	margin-left:2px;
}
.dropdown-submenu > a{
float:left;
display:block;
position:relative;
padding: 3px 20px;
width:88%;
}
.dropdown-submenu:hover > a:after
{
	border-left-color: #2790B0;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus
{
	background: none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	color: #0081c2;
	filter: none;
	text-decoration: none;
}

.dropdown-menu div > a:hover,
.dropdown-menu div > a:focus
{
	background: none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	color: #0081c2;
	filter: none;
	text-decoration: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover
{
	background: none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	color: #0081c2;
	filter: none;
	outline: 0;
	text-decoration: none;
}
.well
{width:19%; left:71%; margin-top: 72px;
	    background-color: rgba(255, 255, 255, 0.27);

    /* box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15); */
    margin-bottom: 20px;
    min-height: 20px;
    padding: 16px;
    position: relative;
    box-shadow: 5px 5px 11px rgba(50, 50, 50, 0.15);
    /* -webkit-box-shadow: 0px 5px 13px #333; */
    color: #999 !important;
}
.well:before
{
	/*border-bottom: 9px solid transparent;
	/*border-left: 9px solid #1d86dc;
	border-top: 9px solid transparent;*/
	content: '';
	display: inline-block;
	left: 0px;
	position: absolute;
	top: 30%;
}
.well p{
	font-size: 13px;
}
.border-left{border-left:4px solid #1d86dc;}

.left{text-align:left;}
.nav li.home a{padding-top:36px;}
.nav li.home a:hover{background:none;}
.thumbnail > img
{
	margin: none;
	width: 100%;
}
.nav-tabs > .active > a
{
	border-left: 3px solid #2790B0;
}

.btn-action
{
	background-color: hsl(106, 42%, 43%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#559b3f), to(#559b3f));
	background-image: linear-gradient(#559b3f, #559b3f);
	background-image: -moz-linear-gradient(top, #559b3f, #559b3f);
	background-image: -ms-linear-gradient(top, #559b3f, #559b3f);
	background-image: -o-linear-gradient(top, #559b3f, #559b3f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #559b3f), color-stop(100%, #559b3f));
	background-image: -webkit-linear-gradient(top, #559b3f, #559b3f);
	background-repeat: repeat-x;
	border-radius: 3px;
	color: #fff !important;
	color: #fff;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#559b3f", endColorstr="#559b3f");
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	overflow: visible;
	padding: .4em 1.4em;
	text-decoration: none;
	text-shadow: 0 1px 0 #a9db3c;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.btn-action:hover
{
	background-color: hsl(102, 52%, 43%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#56a634), to(#56a634));
	background-image: linear-gradient(#56a634, #56a634);
	background-image: -moz-linear-gradient(top, #56a634, #56a634);
	background-image: -ms-linear-gradient(top, #56a634, #56a634);
	background-image: -o-linear-gradient(top, #56a634, #56a634);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a634), color-stop(100%, #56a634));
	background-image: -webkit-linear-gradient(top, #56a634, #56a634);
	background-repeat: repeat-x;
	border-color: #56a634 #56a634 hsl(102, 52%, 43%);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56a634", endColorstr="#56a634");
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
-webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn-action:active
{
	background-color: hsl(94, 50%, 34%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#50822b), to(#50822b));
	background-image: linear-gradient(#50822b, #50822b);
	background-image: -moz-linear-gradient(top, #50822b, #50822b);
	background-image: -ms-linear-gradient(top, #50822b, #50822b);
	background-image: -o-linear-gradient(top, #50822b, #50822b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50822b), color-stop(100%, #50822b));
	background-image: -webkit-linear-gradient(top, #50822b, #50822b);
	background-repeat: repeat-x;
	border-color: #50822b #50822b hsl(94, 50%, 34%);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50822b", endColorstr="#50822b");
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}

/********************************* CUSTOM LINES ******************************************/
.line
{
	border-bottom: 1px solid #2790B0;
	display: block;
	margin: 40px 0px 30px;
	padding-bottom: 10px;
}
.line span
{
	border-bottom: 4px solid #1d86dc;
	padding: 0px 10px 8px 10px;
	position: relative;
}

.center
{
	text-align: center;
}
.red
{
	color: red;
}

.input-large, input[type="text"].input-large
{
	float: left;
	height: 20px;
	padding: 12px 30px;
	width: 50%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	border-radius: 1px;
	color: #555555;
	display: inline-block;
	font-size: 16px;
	height: 31px; letter-spacing: 1px;
	line-height: 28px;
	-moz-border-radius: 1px;
	padding: 0px 15px;
	margin: 13px 0px 0px 0px;    font-family: Homizio Nova;
	vertical-align: middle;
	-webkit-border-radius: 1px;
}

.thumbnails > li{margin-bottom: 0px;}

/****************************** FOOTER ELEMENTS *******************************/
.footer {
	margin-top: 30px;
	border-top: 1px solid #e5e5e5;
	background:#222 url(../img/bg_footer.png);
	padding: 30px 0 0 0;
	color: #919191;
}
footer .copyright {
	border-bottom: 0px;
	font-size: 0.8em;
        margin-top:12px;
}
.footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer li{
	line-height: 25px;
}
.footer.nomargintop{
margin-top:0px;
}

.twitter-bottom
{
	background-color: #222;
	border-bottom: none;
	border-left: 4px solid #2790B0;
	border-radius: 0px;
	border-right: none;
	border-top: none;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
	margin-bottom: 40px;
	min-height: 20px;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
	padding: 19px;
	position: relative;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
}
.twitter-bottom:before
{
	border-bottom: 9px solid transparent;
	border-right: 9px solid #2790B0;
	border-top: 9px solid transparent;
	content: '';
	display: inline-block;
	left: -10px;
	position: absolute;
	top: 5%;
}
.twitter-bottom a
{
	border-bottom: 1px dotted;
}
.twitter-bottom a:hover
{
	text-decoration: none;
}
.footer-links li a
{
	color:#b3b3b3;
}
.footer-links li a:hover{color:#fff;}
@media only screen and (max-width: 600px) {
	.row{margin:0px !important;}
	.menu-tops {    margin: 0px;}
	.navbar-toggle{margin-left:0px;}
	.ft-part {    text-align: center;}
	.dropdown-menu > li > a{color:#fff;}
	.navbar-collapse{box-shadow:0px 0px 0px #fff;}
	img.buy-real {    width: 90px;}
	.forgbx{width:100%;}
	.gen-newp {    width: 60% !important;}
	.tabs-login{margin:0px;}
	.cont-field{padding:0px;}
	#quizTitleRight{font-size:18px !important;}
	#quizNameTitle{margin-left:0px;font-size:18px !important;}
        .carousel-inner{  width: 100% !important;
    margin-left: 0px !important;}
a.left.carousel-control{margin: 25px auto !important;    background: none;}
a.right.carousel-control{margin: 25px auto !important;    background: none;}
.well {
    width: 70%;
    left: 11%;
   background-color: rgb(0, 58, 110);

}
button#userRegisterSignup {
    background: #FF4400;
    color: #fff;
    margin-top: 15px;
}


}







@media (min-width: 1200px)
{
	.thumbnails > li:first-child
	{
		margin-left: 0px;
	}
}
@media (min-width: 980px) and (max-width: 1200px){
.nav-collapse .nav > li > a{font-size:85%;padding-left:10px;padding-right:10px;font-weight:bold;}
}

@media (max-width: 980px) and (min-width: 768px)
{
body > .navbar-fixed-top .brand {
	float: right;
	margin-left: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-reaction.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 0;
}
	.navbar .nav > li > a
	{
		font-size: 85%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.pull-right
	{
		float: none;
	}
	.main-nav .nav > li:hover a
	{
		background: #2790B0;
		color: #fff;
		text-shadow: none;
	}
	.nav-reaction .dropdown-menu
	{
		position: absolute;
	}

	.banner-img
	{
		margin-top: 40px;
	}
	.banner-item .container
	{
		margin-top: 0px;
	}
	.banner_rotator
	{
		height: 300px;
	}
}
@media (max-width: 979px)
{
.nav-collapse .nav {
float: left;
margin: 0 0 10px;
}
.nav-collapse .nav > li{
float:left;
}
.nav-collapse, .nav-collapse.collapse {
overflow: hidden;
height: 0;
float:right;
clear:none;
}
	.nav-collapse .nav > li > a
	{
		margin-bottom: 0px;
	}
	.navbar .nav > li.active a:hover
	{
	}
}

@media (min-width: 768px) and (max-width: 980px) {
/* Remove any padding from the body */
body {
	padding-top: 0;
}
.nav-collapse, .nav-collapse.collapse {
height: auto !important;
overflow: visible !important;


}
}
@media (max-width: 767px)
{
body{
padding-left:0px;
padding-right:0px;
}


	.line span
	{
		border-bottom: 0;
		padding: 0px 10px 8px 10px;
		position: relative;
	}
	.needhead h1.error-title
	{
		font-size: 300%;
		font-weight: 700;
		line-height: 100%;
		margin-top: 60px;
	}
	.navbar-inner
	{
		min-height: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.toggle-img img
	{
		top: 0%;
	}
	ul#filters > li, #filters-blog a, #filters a
	{
		font-size: 70%;
	}
	.banner-to-right
	{
		text-align: center;
	}
	.pull-right
	{
		float: none;
	}
	.navbar .brand
	{
		float: none;
		text-align: center;
	}
	.btn-action
	{
		font-size: 125%;
	}
	.navbar .nav > li > a:hover, .navbar .nav > li > a:hover, .navbar .nav .sfHover > a
	{
		background: #2790B0;
		color: #fff;
		text-shadow: none;
	}

	.container, .navbar .container
	{
		padding-left: 20px;
		padding-right: 20px;
	}

.headertop{
position:relative;
}
.headertop {

	/*margin-top: -20px;*/ /* Offset bottom margin on .navbar */
	margin-right: -20px;
	margin-left: -20px;
}

.footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

}

/* Akshitha */

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{

}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
.headerpart {
    background: #003a6e;
}
.padding0{ padding:0px !important;}
.forgot{ color: #fff;font-family: Roboto Condensed;font-size: 13px;margin: -6px 2px -2px -13px;}
.h2-heading1{     text-align: center;
    color: #003a6e;
    font-size: 35px;
    font-family: Homizio Nova;
    margin-top: 0px;   /*  margin: 0px 110px 0px 0px;*/
    line-height:18px;    letter-spacing: 2px;}
	.heading1{ font-family:Homizio Nova; font-size:26px; margin-bottom: 25px !important; color:#324c65 !important; text-align:center !important;}
	.heading2{ font-family:Homizio Nova; font-size:26px;  margin-bottom: 25px !important; color:#cc3333 !important; text-align:center;}
	.text-center{ text-align:center;}
	.para{ font-family: Homizio Nova; font-size:13px; color:#666; letter-spacing: 1px;}
	.para-margin{     margin: 21px 9px 19px 33px;}
	@media  (min-width: 1024px) and (max-width: 4000px)  {
.boxholder
{
	height: 100px;
	margin:0 auto; width:950px;
}

.box
{
position: absolute;

min-height:150px;
background:none;
margin-top: 80px;

-moz-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-webkit-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-o-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
/*-moz-transition-timing-function:linear;*/
z-index: 999999999;

}
.box figure
{
	text-align: center;
	margin-top: -80px;
}
.box h3
{
	text-align: center;
	color: #596772;
}
.box-intro
{

	margin-top: -15px;
	color: #444 !important;
	padding: 0 10px;     margin: 0px;
}

.box .text {

padding: 0px;
height: 0;
opacity: 0;
margin-left: 0;
display: none;
-webkit-transition: all 0.9s ease;
-webkit-transition-delay: 0;
-moz-transition: all 0.9s ease;
 -o-transition: all 0.9s ease;
 transition: all 0.9s ease;
}

.box:hover
{
min-height:350px;     margin: 0px 0px 0px 25px !important;
margin-top: -40px;
box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
background:#FFF;
text-decoration: none;
}
.box:hover p{
	display: block;
}
.box:hover .box-intro{
	display: none;
}
.box:hover .text
{
	    margin-left: 20px;
opacity: 1;
display: block;
height: 100px;
padding:10px;
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transition-delay: 500ms;
-moz-transition-delay: 500ms;
-o-transition-delay: 500ms;
transition-delay: 500ms;
}

.box:nth-child(1)
{
	margin-left:10px;

}

.box:nth-child(2)
{
	margin-left:245px;
	border-top: solid 4px #049b44;
}

.box:nth-child(3)
{
	margin-left:480px;
	border-top: solid 4px #f6ac0c;
}
.box:nth-child(4)
{
	margin-left:715px;
    border-top: solid 4px #0b98c6;
}

@media  (min-width: 800px) and (max-width: 1024px)  {
.boxholder
{
	height: 100px;
	margin:0 auto;
	width:100%;
}

.box
{
position: absolute;
width:235px;
height:100px;
background:none;
margin-top: 100px;
border-top: solid 2px #CCC;
-moz-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-webkit-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-o-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
/*-moz-transition-timing-function:linear;*/
z-index: 999999999;

}
.box figure
{
	text-align: center;
	margin-top: -80px;
}
.box h3
{
	text-align: center;
	color: #596772;
		display: none;
}
.box-intro
{
	text-align: center;;
	margin-top: -15px;
	color: #444 !important;
	padding: 0 10px;
	display: none;
}

.text {
text-align: center;
color: red;
padding: 0px;
height: 0;
opacity: 0;
margin-left: 0;
display: none;
-webkit-transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98);
-webkit-transition-delay: 0;
-moz-transition: all 0.9s ease-in;
 -o-transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98) 0;
 transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98) 0;
}
.box:hover
{
height:350px;
margin-top: -50px;
box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.9);
background:#FFF;
text-decoration: none;
}
.box:hover p{
	display: block;
}
.box:hover h3{
	display: block;
}
.box:hover .box-intro{
	display: none;
}
.box:hover .text
{
opacity: 1;
display: block;
height: 100px;
padding:10px;
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transition-delay: 500ms;
-moz-transition-delay: 500ms;
-o-transition-delay: 500ms;
transition-delay: 500ms;
}

.box:nth-child(1)
{
	margin-left:10px;
	border-top: solid 4px #fb5f2f;
}

.box:nth-child(2)
{
	margin-left:245px;
	border-top: solid 4px #049b44;
}

.box:nth-child(3)
{
	margin-left:480px;
	border-top: solid 4px #f6ac0c;
}
.box:nth-child(4)
{
	margin-left:715px;
    border-top: solid 4px #0b98c6;
}
}

@media  (min-width: 640px) and (max-width: 800px)  {
.boxholder
{
	height: 100px;
	margin:0 auto; width:100%px;
}
.box
{
position: absolute;
width:185px;
height:100px;
background:none;
margin-top: 100px;
border-top: solid 2px #CCC;
-moz-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-webkit-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
-o-transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
transition:height 0.5s, box-shadow 0.5s, margin 0.5s;
/*-moz-transition-timing-function:linear;*/
z-index: 999999999;

}
.box figure
{
	text-align: center;
	margin-top: -80px;
}
.box h3
{
	text-align: center;
	color: #596772;
		display: none;
}
.box-intro
{
	text-align: center;;
	margin-top: -15px;
	color: #444 !important;
	padding: 0 10px;
	display: none;
}

.box dd {
text-align: center;
padding: 0px;
height: 0;
opacity: 0;
margin-left: 0;
display: none;
-webkit-transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98);
-webkit-transition-delay: 0;
-moz-transition: all 0.9s ease-in;
 -o-transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98) 0;
 transition: all 0.9s cubic-bezier(0.32, 0.22, 0.35, 0.98) 0;
}
.box:hover
{
height:350px;
margin-top: -50px;
box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.9);
background:#FFF;
text-decoration: none;
}
.box:hover p{
	display: block;
}
.box:hover h3{
	display: block;
}
.box:hover .box-intro{
	display: none;
}
.box:hover dd
{
opacity: 1;
display: block;
height: 100px;
padding:10px;
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transition-delay: 500ms;
-moz-transition-delay: 500ms;
-o-transition-delay: 500ms;
transition-delay: 500ms;
}

.box:nth-child(1)
{
	margin-left:5px;
	border-top: solid 4px #fb5f2f;
}

.box:nth-child(2)
{
	margin-left:185px;
	border-top: solid 4px #049b44;
}

.box:nth-child(3)
{
	margin-left:370px;
	border-top: solid 4px #f6ac0c;
}
.box:nth-child(4)
{
	margin-left:555px;
    border-top: solid 4px #0b98c6;
}
}
@media  (min-width: 200px) and (max-width: 640px)  {

     .box { display: none;}
	}
	.para1{ color: #666;
    font-family: Homizio Nova;
    font-size: 17px;
    text-align: justify;
    margin-top: 40px;
    line-height: 25px;
    letter-spacing: 1px;}
	.para2{ color: #666;
    font-family: Homizio Nova;
    font-size: 17px;
    text-align: justify;
    margin-top: 20px;
    line-height: 25px;
    letter-spacing: 1px;}
	.margin-top{ margin-top:25px;}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.student{     font-family: Homizio Nova;
    font-size: 16px; color:#fff;
    margin: 7px 12px 11px 131px;}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,500";

.box1 > .icon { text-align: center; position: relative; }
.box1 > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px;
 border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00b6f2; vertical-align: middle; }
.box1 > .icon:hover > .image { background: #003a6e; }
.box1 > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box1 > .icon:hover > .image > i { color: white !important; }
.box1 > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #eee;
padding: 15px 0 10px 0; }
.box1 > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white;border-radius: 4px;}
.box1 > .icon > .info > h3.title { font-family: 'Homizio Nova' !important;;
font-size: 16px; color: #222; font-weight: 500;letter-spacing: 2px; }
.box1 > .icon > .info > p { font-family: 'Homizio Nova' !important;; font-size: 13px; color: #666;
 letter-spacing: 2px; line-height: 1.5em; margin: 20px;}
.box1 > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
  letter-spacing: 2px;color: #222; }
.box1 > .icon > .info > .more1 a { font-family:'Homizio Nova' !important;;
font-size: 12px; padding:6px 12px; line-height: 12px; text-transform: uppercase; text-decoration: none;
letter-spacing: 2px !important;    color: #fff; background-color: #003a6e; }
.box1 > .icon:hover > .info > .more1 > a {    letter-spacing: 2px; color: #fff; padding: 6px 8px;
 background-color: #00b6f2; }
.box1 .space { height: 30px; }

.drop{    background-color: #cc0000;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;}

	@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}


	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
.fee{ font-size: 17px;
    font-weight: bold;
}
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }
.button{       padding: 3px 18px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 3px;
    float: right;}
	.line{ margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #eee;}
  .heading{    font-weight: bold;
    font-size: 24px;}
	.font-18{    font-size: 18px;}
	.font-16{ font-size:16px;}
	@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


.container-login {
    min-height: 0;
    width: 990px;
    color: #333333;
    margin-top:0px !important;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
#top-bar {
    display: inherit;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #fff;
    border: medium none;     min-height: 45px;
    color: #333;
    margin-bottom: 0; border-right: 1px solid #eee;
    margin-right: 0;
    border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #00b6f2;
    color: #003a6e; font-weight:bold;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #003a6e; color:#fff
}
.tabs-login {
    background:#F0F0F0;
    border: medium none;
    margin-top: -1px;
    padding: 10px 0px 10px 0px;
	margin-bottom: 50px;
}
.container-login h2 {
    color: #ea533f;
}
.form-control {
    background-color: rgba(238, 238, 238, 0.56);
    background-image: none;
    border: 1px solid #DADADA;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .checkbox {
    margin-top: -15px;
}
.container-login button {
    background-color: #00b6f2;
    border-color:#00b6f2;
    color: #ffffff;
    border-radius: 0;
    font-size: 20px !important;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login button:hover,
.container-login button:focus {
    background: #003a6e;

}.popup-heading{font-size: 20px;font-weight: bold; }
.pop-up-content{    font-weight: 500;
    font-size: 16px;
    padding: 0px;
    margin-left: 0px; }
/* MIN AND MAX */
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
     display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: 1px;
    position: relative;
    border-radius: 0;
    margin-top: 13px;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.quetion{    font-weight: bold;
    color: #003a6e;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 34px;}
.qution-bg{background-color: #00b6f2;
    padding: 6px 0px 10px 0px;
    font-size: 30px;
    color: #fff; margin-top:35px; cursor:pointer; }
	.qution-bg1{ padding: 6px 0px 10px 0px;
    font-size: 30px;
    margin-top: 10px;
    border: 1px solid #787878; cursor:pointer;}
	.qution-bg1:hover {
    background-color: #00b6f2; color:#fff
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #003a6e;
    color: white;
    border: 1px solid #003a6e;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.signup{    letter-spacing: 1px;
    border: 1px solid #557c83;
    height: 8px;
    background-color: #557c83;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left; }
	.by-real{     border: 1px solid #557c83;
    height: 60px;
    color: #fff;
    padding: 3px 4px 9px 12px !important;}
.signup1{     border: 1px solid #557c83;
    height: 57px;
    color: #fff;
    font-size: 26px;
}
	.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
       display: none; z-index:2000 !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 149px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;

    margin-top: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.margin-top{ margin-top:20px;}
.h2-heading{ font-size:35px; font-weight:bold;}
	.font{    font-size: 16px;
    letter-spacing: 1px;}
.red{color:#fc4604}
.margin-top-10{ margin-top:10px;}
.btn1{   box-shadow: 0 0 3px 1px rgba(0,0,0,.35);
    background-color: #003a6e;
    border: 1px solid #003a6e;
    color: #fff;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
    margin-left: -0px;
    border-radius: 10px !important;
    margin: 90px -4px -10px -76px !important;}
	span.btn1.btn.btn-success.btn-lg :hover {
    background-color: #006666 !important; border-color:#006666;
}
.carousel-indicators .active{ background: #fff; } .content{ margin-top:20px; height:245px; } .adjust1{ float:left; width:100%; margin-bottom:0; } .adjust2{ margin:0; }
.carousel-indicators li{ border :2px solid #00b6f2; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }
.test1{text-align: center;margin-left: -159px;margin-top: 0px;}
.test2{text-align:center;margin: -73px 8px 8px 129px;}
.span1{   font-size: 22px;
    letter-spacing: 2px;
    color: #fff;
    margin-left: 38px;
    font-family: Homizio Nova;}
	.block{text-align:center; padding:20px 25px 96px 143px}
.btn-1{    padding: 7px 10px;
    font-size: 16px; margin-top:10px;
    line-height: 1.3333333;
    border-radius: 3px;
    color: #fff !important;
    background-color: #ff6666  !important;
    border: none  !important; }
.nbr{     font-family: 'Open Sans';
    font-size: 40px;
    color: #fff;
    font-weight: bold;}
.count{        font-size: 15px;
    /* font-family: ' pistara'; */
    font-weight: bold;
    color: #fff;
    margin-left: 0px;
    text-align: start;
    /* text-align: center; */}

	@font-face {
    font-family: 'pistararegular';
    src: url('fonts/pistara-webfont.eot');
    src: url('fonts/pistara-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pistara-webfont.woff2') format('woff2'),
         url('fonts/pistara-webfont.woff') format('woff'),
         url('fonts/pistara-webfont.ttf') format('truetype'),
         url('fonts/pistara-webfont.svg#pistararegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Homizio Nova';
    src:url('fonts/regular.otf') format('woff'),
    src: url('fonts/regular.ttf') format('truetype'),

    font-weight: normal;
    font-style: normal;

}
.button1{background-color: #cc0000;
    border: none;
    padding: 5px 16px 9px 15px;
    color: #fff;
    font-size: 16px;
    margin-top: 16px;
    font-weight: bold;}
.fon{     font-family: 'Gafata', 'calibri', "helevetica", sans-serif;
    font-weight: bold;}
.btn-more{ padding: 2px 11px; border-radius:0px; background-color:#557c83; border-color:#557c83}
button.btn.btn-info.btn-lg.btn-more:hover {
    background-color: #cc0000;
}{ padding: 2px 11px; border-radius:0px; background-color:#fff; border-color:#cc0000; }
a {
    color: #0254EB
}
a:visited {
    color: #000
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.top1{ background-color:#f1f1f1; margin-top:370px;}

@media only screen and (max-width: 798px)
{top1{ margin-top:0px !important;}
.table-head{ background-color:#00b6f2 !important;font-size: 17px;}
.footer1{ background-color:#003a6e !important;  color:#fff}
.footer-text{ margin-top: 10px;font-family: Open Sans;font-size: 15px;margin-bottom: -13px;}
.matgin-top-30{ margin-top:30px;}
.footer-left{float:left !important; font-size:12px;}
.footer-right{ float:right !important; font-size:12px;}
.footer-menu{  margin-top: 10px;font-family: Open Sans;font-size: 15px;margin-bottom: -13px;font-weight: 500;}
.margin-top-30{ margin-top:30px;}
.1image{margin-left: -345px !important;height: 400px !important; margin-top: -33px !important;}
.on-click{background-color: #00b6f2;
    border: 0px;
    color: #fff;
    font-size: 14px;}
	.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
.blu{ color:#003a6e}
.about-banner{    border: 1px solid #eee !important;
    padding: 15px 21px 16px 21px !important;
    border-radius: 3px !imporatnt; }

/* Carousel Styles */

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.margin-35{ margin-top:35px;}
.buy-quiz{ margin-top: 0px; float:right; margin-right:-38px ;}
.video-size{ width:401px; height:349px}
@media  (min-width: 250px) and (max-width: 798px)  {.button1{background-color: #cc0000;
    border: none;
    padding: 5px 16px 9px 15px;
    color: #fff;
    font-size: 16px;
    margin-top: 16px;
    font-weight: bold;}
.navbar .nav
{
	display: block!important;
    float: right!important;
    left: 0!important;
    margin: 4px 103px 31px 0!important;
    position: relative!important;
    background-color: #D23D3F;
    width: 196px;

}

	}
